{%- if sdn_provider == 'netris' %}
---
apiVersion: k8s.netris.ai/v1alpha1
kind: Server
metadata:
  name: {{ server_name }}
  namespace: kcm-system
spec:
  tenant: Admin
  description: {{ server_name }}
  site: default
  portsCount: 1
  mainIp: {{ loopback_ip }}
  mgmtIp: {{ mgmt_ip }}
  tags: []
---
apiVersion: k8s.netris.ai/v1alpha1
kind: Link
metadata:
  name: {{ server_name }}-eth1
spec:
  ports:
  - swp29@leaf-0
  - eth1@{{ server_name }}
---
apiVersion: k8s.netris.ai/v1alpha1
kind: LinkAttachment
metadata:
  name: swp29-leaf-0-pxe
  namespace: kcm-system
spec:
  name: swp29@leaf-0
  vnet: kcm-system-default-netris
  untagged: true
{%- endif %}
{%- if sdn_provider == 'verity' %}
---
apiVersion: verity.mirantis.com/v1alpha1
kind: EthPortProfile
metadata:
  name: ctl-pxe
  namespace: kcm-system
spec:
  enable: true
  services:
    - row_num_enable: true
      row_num_service: "kcm-system.pxe"
      row_num_external_vlan: 0
---
apiVersion: verity.mirantis.com/v1alpha1
kind: Switchport
metadata:
  name: eth1-29-leaf-0
  namespace: kcm-system
spec:
  name: "eth1/29@leaf-0"
  ethernet_port_profile: "ctl-pxe"
  gateway_port_profile: ""
{%- endif %}
